.idea/
.vscode/
node_modules/
*.xls
*.xlsx
.DS_Store
yarn-error.log
*.iml
.nyc_output
test/functional/output
package-lock.json
definitions/consented/json/**/*-common*
definitions/contested/json/**/*-common*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions