apiVersion: v2
description: Financial Remedy - CCD Definitions
name: finrem-ccd-definitions
version: 2.2.15
dependencies:
  - name: nodejs
    version: 2.4.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: ccd
    version: 8.0.21
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - finrem-ccd-stack
  - name: xui-webapp
    version: ~1.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: xui-mo-webapp
    version: ~1.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-mo-webapp.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: idam-pr
    version: 2.2.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: finrem-cos
    version: 0.2.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: finrem-cos.enabled
  - name: finrem-dgcs
    version: 0.2.10
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: finrem-dgcs.enabled
  - name: finrem-emca
    version: 0.2.12
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: finrem-emca.enabled
  - name: finrem-ns
    version: 0.2.11
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: finrem-ns.enabled
