apiVersion: v2
description: Financial Remedy - CCD Definitions
name: finrem-ccd-definitions
version: 2.2.20
dependencies:
  - name: nodejs
    version: 3.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: ccd
    version: 9.0.20
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - finrem-ccd-stack
  - name: xui-webapp
    version: ~1.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: xui-mo-webapp
    version: ~1.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-mo-webapp.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: finrem-cos
    version: 0.2.28
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: finrem-cos.enabled
  - name: postgresql
    version: 1.0.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: postgresql.enabled