apiVersion: v2
description: Financial Remedy - CCD Definitions
name: finrem-ccd-definitions
version: 2.0.3
dependencies:
  - name: nodejs
    version: ~2.3.4
    repository: '@hmctspublic'
  - name: ccd
    version: ~4.3.3
    repository: '@hmctspublic'
    tags:
      - ccd-pr
  - name: xui-webapp
    version: ~0.2.1
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled
