tags:
  finrem-ccd-stack: true

nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

idam-pr:
  releaseNameOverride: ${SERVICE_NAME}-ccd-pr
  enabled: true
  redirect_uris:
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback
    XUIMO:
      - https://xui-mo-${SERVICE_FQDN}/oauth2/callback
    CCD:
      - https://case-management-web-${SERVICE_FQDN}/oauth2redirect
    CCD Admin:
      - https://admin-web-${SERVICE_FQDN}/oauth2redirect

xui-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    environment:
      HEALTH_CCD_COMPONENT_API: http://gateway-${SERVICE_FQDN}/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal/health
      SERVICES_CCD_COMPONENT_API: http://gateway-${SERVICE_FQDN}
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_CCD_CASE_ASSIGNMENT_API: http://aac-${SERVICE_FQDN}
      SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal
      JURISDICTIONS: DIVORCE

xui-mo-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-mo-webapp
    image: hmctspublic.azurecr.io/xui/mo-webapp:latest
    ingressHost: xui-mo-${SERVICE_FQDN}
    environment:
      MANAGE_CASE_LINK: https://xui-${SERVICE_FQDN}/cases
      MANAGE_ORG_LINK: https://xui-mo-${SERVICE_FQDN}
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_MCA_PROXY_API: http://${SERVICE_NAME}-aac-manage-case-assignment
      CASE_TYPES: FINREM

finrem-cos:
  enabled: true
  java:
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/finrem/cos:latest
    releaseNameOverride: ${SERVICE_NAME}-finrem-cos
    ingressHost: cos-${SERVICE_FQDN}
    environment:
      FEATURE_RESPONDENT_JOURNEY: true
      FEATURE_ASSIGN_CASE_ACCESS: false
      FEATURE_USE_USER_TOKEN: true
      AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      PRD_API_URL: http://rd-professional-api-aat.service.core-compute-aat.internal
      IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      DOCUMENT_GENERATOR_SERVICE_API_BASEURL: http://${SERVICE_NAME}-finrem-dgcs
      FINREM_NOTIFICATION_SERVICE_BASE_URL: http://${SERVICE_NAME}-finrem-ns
      PAYMENT_SERVICE_API_BASEURL: http://${SERVICE_NAME}-finrem-ps
      EVIDENCE_MANAGEMENT_SERVICE_BASEURL: http://${SERVICE_NAME}-finrem-emca
      ACA_SERVICE_API_BASEURL: http://${SERVICE_NAME}-aac-manage-case-assignment
      CCD_DATA_STORE_API_BASEURL: http://${SERVICE_NAME}-ccd-data-store-api
      CCD_SUBMIT_S2S_AUTH_SECRET: ${CCD_SUBMIT_S2S_AUTH_SECRET}
      AUTH_PROVIDER_SERVICE_CLIENT_KEY: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY}
      UK_GOV_NOTIFY_API_KEY: ${UK_GOV_NOTIFY_API_KEY}
    keyVaults:
      finrem:
        secrets:
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY
          - name: finrem-case-orchestration-service-s2s-key
            alias: FINREM_CASE_ORCHESTRATION_SERVICE_S2S_KEY
          - name: idam-secret
            alias: IDAM_CLIENT_SECRET
          - name: finrem-doc-s2s-auth-secret
            alias: AUTH_PROVIDER_SERVICE_CLIENT_KEY
          - name: ccd-submission-s2s-auth-secret
            alias: CCD_SUBMIT_S2S_AUTH_SECRET

finrem-dgcs:
  enabled: true
  java:
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/finrem/dgcs:latest
    releaseNameOverride: ${SERVICE_NAME}-finrem-dgcs
    ingressHost: dgcs-${SERVICE_FQDN}
    environment:
        EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL: http://${SERVICE_NAME}-finrem-emca
        SEND_LETTER_SERIVCE_BASEURL: http://rpe-send-letter-service-aat.service.core-compute-aat.internal
        AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        PDF_SERVICE_BASEURL: ${PDF_SERVICE_BASEURL}
        IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        AUTH_PROVIDER_SERVICE_CLIENT_KEY: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY}
        PDF_SERVICE_ACCESS_KEY: ${PDF_SERVICE_ACCESS_KEY}
    keyVaults:
      finrem:
        secrets:
          - name: finrem-doc-s2s-auth-secret
            alias: AUTH_PROVIDER_SERVICE_CLIENT_KEY
          - name: idam-secret
            alias: IDAM_CLIENT_SECRET
          - name: docmosis-api-key
            alias: PDF_SERVICE_ACCESS_KEY
          - name: docmosis-endpoint
            alias: PDF_SERVICE_BASEURL
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY


finrem-emca:
  enabled: true
  java:
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/finrem/emca:latest
    releaseNameOverride: ${SERVICE_NAME}-finrem-emca
    ingressHost: emca-${SERVICE_FQDN}
    environment:
        IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
        AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        DOCUMENT_MANAGEMENT_STORE_URL: http://dm-store-aat.service.core-compute-aat.internal
        AUTH_PROVIDER_SERVICE_CLIENT_KEY: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY}
    keyVaults:
      finrem:
        secrets:
          - name: finrem-doc-s2s-auth-secret
            alias: AUTH_PROVIDER_SERVICE_CLIENT_KEY
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY

finrem-ns:
  enabled: true
  java:
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/finrem/ns:latest
    releaseNameOverride: ${SERVICE_NAME}-finrem-ns
    ingressHost: ns-${SERVICE_FQDN}
    environment:
      UK_GOV_NOTIFY_API_KEY: ${UK_GOV_NOTIFY_API_KEY}
    keyVaults:
      finrem:
        secrets:
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY
          - name: gov-uk-notification-key
            alias: UK_GOV_NOTIFY_API_KEY

finrem-ps:
  enabled: true
  java:
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/finrem/ps:latest
    releaseNameOverride: ${SERVICE_NAME}-finrem-ps
    ingressHost: ps-${SERVICE_FQDN}
    environment:
        AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
        FEES_API_URL: http://fees-register-api-aat.service.core-compute-aat.internal
        PRD_API_URL: http://rd-professional-api-aat.service.core-compute-aat.internal
        IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        PAYMENT_API_URL: http://payment-api-aat.service.core-compute-aat.internal
        FINREM_PAYMENTS_SERVICE_S2S_KEY: ${FINREM_PAYMENTS_SERVICE_S2S_KEY}
        USERNAME_SOLICITOR: ${USERNAME_SOLICITOR}
        PASSWORD_SOLICITOR: ${PASSWORD_SOLICITOR}
    keyVaults:
      finrem:
        secrets:
          - name: AppInsightsInstrumentationKey
            alias: APP_INSIGHTS_INSTRUMENTATION_KEY
          - name: finrem-payment-service-s2s-key
            alias: FINREM_PAYMENTS_SERVICE_S2S_KEY
          - name: idam-secret
            alias: IDAM_CLIENT_SECRET
          - name: username-solicitor
            alias: USERNAME_SOLICITOR
          - name: password-solicitor
            alias: PASSWORD_SOLICITOR

ccd:
  ccd:
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: true
    apiGatewayWeb:
      enabled: true
    s2s:
      enabled: false
    printService:
      enabled: true

  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}

  global:
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    ccdAdminWebIngress: admin-web-${SERVICE_FQDN}
    ccdApiGatewayIngress: gateway-${SERVICE_FQDN}
    ccdCaseManagementWebIngress: case-management-web-${SERVICE_FQDN}
    postgresUsername: hmcts
    postgresPassword: hmcts
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal

  ccd-user-profile-api:
    java:
      imagePullPolicy: Always
      enviroment:
        USER_PROFILE_DB_HOST: ${SERVICE_NAME}-postgresql
      keyVaults: []
      environment:
        USER_PROFILE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_definition,ccd_admin
      ingressHost: ccd-user-profile-api-${SERVICE_FQDN}

  ccd-data-store-api:
    java:
      imagePullPolicy: Always
      environment:
        DATA_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DATA_STORE_IDAM_KEY: ${DATA_STORE_S2S_KEY}
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_gw,ccd_gateway,fpl_case_service,ccd_data,ccd_ps,aac_manage_case_assignment,xui_webapp,ccd_case_document_am_api,divorce_ccd_submission,divorce_frontend
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: aac_manage_case_assignment,fpl_case_service,finrem_case_orchestration,iac,divorce_frontend,civil_service
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
        ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-aat.service.core-compute-aat.internal
      keyVaults: []
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}

  am-role-assignment-service:
    java:
      keyVaults:
        am:
          secrets:
            - role-assignment-service-LD-SDK-KEY

  ccd-case-print-service:
    nodejs:
      environment:
        IDAM_PRINT_SERVICE_KEY: ${PRINT_S2S_KEY}
      ingressHost: ccd-case-print-service-${SERVICE_FQDN}

  ccd-definition-store-api:
    java:
      imagePullPolicy: Always
      keyVaults: []
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_IDAM_KEY: ${DEFINITION_STORE_S2S_KEY}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      ingressHost: ccd-definition-store-${SERVICE_FQDN}

  ccd-admin-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/admin-web:latest
      ingressHost: admin-web-${SERVICE_FQDN}
      keyVaults: []
      environment:
        USER_PROFILE_DB_HOST: ${SERVICE_NAME}-postgresql
        IDAM_ADMIN_WEB_SERVICE_KEY: ${ADMIN_S2S_KEY}
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}

  ccd-case-management-web:
    nodejs:
      devmemoryRequests: 512Mi
      devcpuRequests: "1000m"
      devmemoryLimits: 1024Mi
      devcpuLimits: "2500m"
      resources:
        requests:
          cpu: 1000m
          memory: 512Mi
      environment:
        CCD_ACTIVITY_URL: null
        DM_URL: https://gateway-${SERVICE_FQDN}/documents
        DM_URL_REMOTE: https?://(gateway-${SERVICE_FQDN}:443|dm-store-aat.service.core-compute-aat.internal)/documents
        NODE_TLS_REJECT_UNAUTHORIZED: 0
        APPINSIGHTS_ENABLED: false
      ingressHost: case-management-web-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}

  ccd-api-gateway-web:
    nodejs:
      keyVaults: []
      environment:
        IDAM_SERVICE_KEY: ${API_GATEWAY_S2S_KEY}
        IDAM_OAUTH2_CLIENT_SECRET: ${API_GATEWAY_IDAM_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
        PROXY_PRINT_SERVICE: http://ccd-case-print-service-${SERVICE_FQDN}
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
      ingressHost: gateway-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}

  importer:
    userprofile:
      enabled: true
      jurisdictions:
        - DIVORCE
      users:
        - divorce_as_caseworker_beta@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_as_caseworker_solicitor@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_as_caseworker_bulk_scanner@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_as_caseworker_superuser@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_as_caseworker_la@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_as_caseworker_admin@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
        - divorce_respondent_solicitor@mailinator.com|DIVORCE|FinancialRemedyMVP2|Submitted
      userProfileDatabaseHost: ${SERVICE_NAME}-ccd-postgres
      userProfileDatabasePort: 5432
      userProfileDatabaseUser: hmcts
      userProfileDatabasePassword: hmcts
      userProfileDatabaseName: user-profile

  postgresql:
    persistence:
      enabled: false

aac-manage-case-assignment:
  enabled: true
  java:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-aac-manage-case-assignment
    image: hmctspublic.azurecr.io/aac/manage-case-assignment:latest
    ingressHost: aac-${SERVICE_FQDN}
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      MCA_DS_PROXY_URLS_ALLOWED_LIST: /searchCases.*,/internal/searchCases.*,/internal/cases.*
      MCA_DEF_STORE_PROXY_URLS_ALLOWED_LIST: /api/display/challenge-questions.*
      MANAGE_CASE_S2S_AUTHORISED_SERVICES: xui_webapp,ccd_data,fpl_case_service,divorce_frontend,divorce_ccd_submission
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CCD_DEFINITION_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-definition-store
      PRD_HOST: http://rd-professional-api-aat.service.core-compute-aat.internal
    autoscaling:
      enabled: false
    keyVaults:
      aac:
        secrets:
          - name: aac-manage-case-s2s-secret
            alias: AAC_MANAGE_CASE_S2S_AUTH
          - name: idam-mca-client-secret
            alias: IDAM_MCA_CLIENT_SECRET
          - name: idam-mca-system-user-username
            alias: IDAM_MCA_SYSTEM_USER_USERNAME
          - name: idam-mca-system-user-password
            alias: IDAM_MCA_SYSTEM_USER_PASSWORD
          - name: idam-noc-approver-username
            alias: IDAM_NOC_APPROVER_USERNAME
          - name: idam-noc-approver-password
            alias: IDAM_NOC_APPROVER_PASSWORD
          - name: notify-mca-api-key-secret
            alias: NOTIFY_MCA_API_KEY_SECRET
